//new password
.new-password-section {
  .new-password-background {
    @extend .background;
    .new-password-title {
      @extend .title;
    }

    .new-password-password-wraper {
      @extend .input-wraper;
      .new-password-visible-eye {
        position: absolute;
        bottom: 2px;
        right: 0;
        background-image: url("../../icons/visibility_FILL0_wght400_GRAD0_opsz48.svg");
        background-size: cover;
        height: 15px;
        width: 15px;
        cursor: pointer;
        z-index: 20;
      }

      .new-password-invisible-eye {
        position: absolute;
        bottom: 2px;
        right: 0;
        background-image: url("../../icons/visibility_off_FILL0_wght400_GRAD0_opsz48.svg");
        background-size: cover;
        height: 15px;
        width: 15px;
        cursor: pointer;
      }
      .new-password-key {
        position: absolute;
        bottom: 2px;
        left: 0;
        background-image: url("../../icons/key_FILL0_wght400_GRAD0_opsz48.svg");
        background-size: cover;
        height: 15px;
        width: 15px;
      }

      .new-password-password {
        @extend .input;
      }

      &:focus {
        outline: none;
      }
    }

    .new-password-submit-wraper {
      @extend .submit-wraper;
      .new-password-submit {
        @extend .shaddow;
        @extend .button;
        padding: 5px 20px;
      }
    }
  }
}
