.main-page-container {
  max-width: 1600px;
  margin: 0 auto;
  .create-products-wrapper {
    display: flex;
    justify-content: center;

    margin: 50px 0;
    .create-products {
      @extend .shaddow, .button;
      &:hover {
        transform: rotateZ(0deg) scale(1.05);
      }
    }
  }

  .edit {
    @extend .shaddow;
    background-color: rgba($color: #000000, $alpha: 0.9);
    border-radius: 5px;

    color: white;
    position: fixed;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 70%;
    height: 70%;

    .edit-content-wrapper {
      width: 100%;
      position: relative;
      .edit-exit {
        position: absolute;
        top: 10px;
        right: 0;
        background: transparent;
        border: 0;
        // display: inline-block;
        .edit-exit-icon {
          background-image: url("../../icons/close_FILL0_wght400_GRAD0_opsz48.svg");
          background-size: contain;
          height: 30px;
          width: 30px;
        }
      }
      .edit-text {
        padding: 40px;
        padding-top: 60px;

        .edit-title {
          margin-bottom: 15px;
        }
      }
      .edit-save {
        @extend .shaddow, .button;

        margin-left: 38px;
        &:hover {
          transform: none;
        }
      }
    }
  }

  .more-info {
    @extend .shaddow;
    background-color: rgba($color: #000000, $alpha: 0.9);
    border-radius: 5px;

    color: white;
    position: fixed;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 70%;
    height: 70%;

    .more-info-content-wrapper {
      width: 100%;
      position: relative;
      .more-info-exit {
        position: absolute;
        top: 10px;
        right: 0;
        background: transparent;
        border: 0;
        // display: inline-block;
        .more-info-exit-icon {
          background-image: url("../../icons/close_FILL0_wght400_GRAD0_opsz48.svg");
          background-size: contain;
          height: 30px;
          width: 30px;
        }
      }
      .more-info-text {
        padding: 40px;
        padding-top: 60px;

        .more-info-title {
          margin-bottom: 15px;
        }
      }
    }
  }
}
