//reset password
.reset-password-section {
  .reset-password-background {
    @extend .background;

    .reset-password-title {
      @extend .title;
    }
    .reset-password-paragraph {
      color: white;
    }

    .reset-password-email {
      .reset-password-email-wraper {
        @extend .email-wraper;

        .reset-password-mail-icon {
          position: absolute;
          bottom: 2px;
          left: 0;
          background-size: cover;
          height: 15px;
          width: 15px;
          background-image: url("../../icons/mail_FILL0_wght400_GRAD0_opsz48.svg");
        }

        .reset-password-email {
          @extend .input;
        }
      }
    }
    .reset-password-submit-wraper {
      @extend .submit-wraper;
      .reset-password-submit {
        @extend .shaddow;
        @extend .button;
        padding: 5px 20px;
      }
    }
  }
}
