.hero-content {
  position: relative;
  .hero-image {
    width: 100%;
  }
  @media only screen and (max-width: 1000px) {
    .hero-image {
      width: 1000px;
      height: 650px;
      object-fit: cover;
    }
  }
  .hero-title-description-button-wrapper {
    height: 100%;
    width: 40%;
    margin-left: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .hero-title-description-button {
      .hero-title {
        text-transform: uppercase;

        color: #373737;
      }
      .hero-description {
        color: #373737;
        font-size: 15px;
      }
      .hero-button {
        margin-top: 30px;
        padding: 9px 10px;
        border-radius: 4px;
        background-color: #b34d00;
        color: #ffffff;
        border: none;

        transition: transform 0.5s;
        width: 140px;

        &:hover {
          transform: scale(1.02);
        }
        &:active {
          background-color: #bb6829;
        }
      }
    }
    @media only screen and (max-width: 1000px) {
      .hero-title-description-button {
        text-align: center;
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    .hero-title-description-button-wrapper {
      width: 100%;
      margin-left: 0;
      padding: 0 50px;
    }
  }
}
